* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.container.reverse {
  flex-direction: row-reverse;
}

ul {
  list-style: none;

  a {
    display: inline-block;
    color: $b;
    text-decoration: none;
  }
}

body {
  font-family: $poppins;
}

button {
  font-family: $poppins;
}

canvas {
  display: none;
}

.quotez {
  display: flex;
}
