.our-story {
  background: url('https://demo-storage.com/pm/html/restbeef/img/page_backgrounds/index01-1.jpg');
  background-position: center;
  background-size: cover;
  padding: 80px 0;

  .container {
    flex-direction: column;
    align-items: flex-end;
    padding: 0 50px;
  }

  .wrapper {
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    background: $w;
    padding: 40px;
    display: flex;
    text-align: center;

    .description {
      font-family: $openSans;
      line-height: 26px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 960px) {
  .our-story {
    .container {
      align-items: center;
      padding: 0 10px;

      .wrapper {
        max-width: 100%;
        padding: 20px 10px;
      }
    }
  }
}
