@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Font
$poppins: 'Poppins', sans-serif;

//Color
$b: #000;
$w: #fff;

//Breakpoint
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
