@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800&display=swap');

// Google font
$nunito: Nunito, sans-serif;

// Color
$primary: #10121b;
$secondary: #191d2b;
$accent: #037fff;
$accentDark: #0b3360;
$w: #fff;
$b: #000;
$g: #a4acc4;
$gBlue: #2e344e;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
